@charset "utf-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium'
}

body,ul,h1,h2 {
    margin:0;
}

ul {
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: #000;
}
a:hover {font-weight: bolder;}

/* 네비게이션 */
nav {
    height: 90px;
    height: 100px;
}

nav section {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;}

nav li {
    width: 95px;
    height: 90px;
    padding-top: 20px;
    text-align: center;
}


/* 헤더 */
header {
    height: 800px;
    background: url(/assets/bg.jpg) no-repeat 50% 70%/cover fixed;
}
h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    padding-top: 100px;
    font-family: 'HSSanTokki20-Regular'
}

div {
    height: 800px;
}
p { 
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: block;
}