@charset "utf-8";

 /* 배경 비주얼 */
#sec1 {
    width: 100%;
    margin: 0 auto;
    height: 695px;
    background-repeat: no-repeat;
    background-position: 50% 43%;
    background-image: url(/70_pf/team/03.asset/indax/section_1_banner.jpg)
}

#sec1 .visual {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    height: 695px;
}

#sec1 .banner {
    width: 1200px;
    margin-top: 165px;
}

/* 슬라이더 */
#sec1 .slide {
    position: relative;
    width: 900px;
    margin: 0 auto;
    height: 125px;
    overflow: hidden;
}

#sec1 .slide ul {
    position: absolute;
    display: flex;
}

#sec1 .slide li {
    flex: 0 0 25%;
}

/* 애니메이션 */
#sec1 .slide ul {
    animation: slide 12s infinite;
}

@keyframes slide {
    0% {left: 0%;}
    10% {left: -100%;}
    33% {left: -100%;}
    43% {left: -200%;}
    66% {left: -200%;}
    76% {left: -300%;}
    99.99% {left: -300%;}
    100% {left: 0%;}
}

#sec1 .slide_box {
    width: 68px;
    margin: 0 auto;
    height: 28px;
}

#sec1 .slide_box ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 28px;
    background: #192547;
    border-radius: 10px;
}
#sec1 .slide_box ul li {
    height: 16px;
}

/* 항공권 검색 */

.tabs {
    position: relative;
    width: 1200px;
    height: 223px;
    margin-top: 85px;
    font-size: 0px;
}

.tabs label {
    display: inline-block;
    text-align: center;
    width: 398px;
    margin-right: 2px;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.5);
    color: #192547;
    cursor: pointer;
    border-radius: 12px 12px 0 0;
    font-size: 20px;
}

.tabs div {
display: none;
position: absolute;
width: 1200px;
height: 173px;
padding: 20px 40px;
}

.tabs input {
display: none;
}

.tabs input:checked+label {
background: #192547;
color: #fff;
}

.tabs input:checked+label+div {
display: block;
}

/* bg-color */
.tab {
background: #F9F9F9;
border-radius: 0 0 12px 12px;
font-size: 14px;
}

/* 섹션2 */
#sec2 {
    width: 100%;
    height: 633px;
    margin: 0 auto;
    background: #f9f9f9;
}

#sec2 h2 {
    text-align: center;
    padding: 48px 0;
}

#sec2 .wrap{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 390px;
}

#sec2 .info_desc {
    display: flex;
    position: absolute;
    align-items: center;
    height: 115px;
    width: 282px;
    background: rgba(0, 0, 0, .7);
    padding: 20px;
    top: 275px;
    border-radius: 0 0 12px 12px;
}

#sec2 .info_desc p {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    max-width: 200px;
    font-family: 'GmarketSansTTFLight';
    color: #fff;
}

#sec2 .info_desc p:nth-of-type(3) {
    color: #BED600;
    font-family: 'GmarketSansTTFBold';
    margin-bottom: 0px;
}

/* 섹션3 */
#sec3 {
    width: 100%;
    height: 548px;
    margin: 0 auto;
    background: #fff;
}

#sec3 h2 {
    text-align: center;
    padding: 48px 0;
}

#sec3 .wrap{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 308px;
}

#sec3 .info_desc {
    display: flex;
    position: absolute;
    align-items: center;
    height: 95px;
    width: 384px;
    background: #f9f9f9;
    padding: 30px 20px;
    top: 215px;
    border-radius: 0 0 12px 12px;
}

#sec3 .info_desc p {
    display: block;
    margin: 0;
    margin-bottom: 0px;
    max-width: 300px;
    color: #192547;
}

#sec3 .info_desc p:nth-of-type(1) {
    color: #192547;
    font-family: 'GmarketSansTTFBold';
    margin-bottom: 5px;
}

/* 섹션4 */
/* 공지사항 */
#sec4 {
    display: flex;
    width: 100%;
    height: 515px;
    margin: auto 0;
    background: #fff;
    border: 1px solid red;
}

#sec4 .notice {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

#sec4 h2 {
    padding: 48px 0;
}

#sec4 ul {
    width: 700px;
    height: calc(100% - 40px);
}

#sec4 li {
    top: 10px;
    justify-content: space-between;
    line-height: 2.3;
    border-bottom: 1px solid #192547;
    
}

#sec4 li:nth-of-type(1) {
    border-top: 1px solid #192547;
}

#sec4 li a {
    display: inline-block;
    width: 600px;
    padding: 15px 0;
}

#sec4 .banner {
    display: flex;
    width: 468px;
    height: 271px;
}
