@charset "utf-8";

.main_2 {
    width: 100%;
    height: 630px;
    margin: 0 auto;
    background: #f9f9f9;
}

.main_2 h2 {
    text-align: center;
    font-size: 24px;
    color: #192547;
    padding-top: 48px;
    margin-bottom: 48px;
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
}

.img_warp {
    width: 282px;
    height: 390px;
    margin-right: 24px;
    border-radius: 12px;
}

.main_2>.card>.img_warp:nth-of-type(4n) {
    margin-right: 0;
}

.main_2>.card>.img_warp .info_desc {
    position: absolute;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    height: 115px;
    width: 282px;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    padding: 0 20px 0px 20px;
    top: 275px;
    border-radius: 0 0 12px 12px;
}

.main_2 span  {
    display: inline-block;
    font-size: 16px;
    max-width: 230px;
}

.main_2 .card .info_desc .price .num {
    color: #BED600;
    font-weight: 900;
    margin-left: 8px;
}